<!-- <form (ngSubmit)="onLogin()">
  <div>
    <label for="username">Username</label>
    <input
      type="text"
      id="username"
      [(ngModel)]="user.username"
      name="username"
      required
    />
  </div>
  <div>
    <label for="password">Password</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="user.password"
      name="password"
      required
    />
  </div>
  <button type="submit" (click)="onLogin()">Login</button>
</form>
<div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div> -->

<!-- <p (click)="register()">Sign up here</p> -->




























<div class="login-page">
  <div class="form">
    <form #loginForm="ngForm" *ngIf="isRegisterMode; else loginForm" (ngSubmit)="onRegister()">
      <h2>Register</h2>
      <input id="firstName" type="text" placeholder="First Name *" [(ngModel)]="registerData.firstname" name="firstName"
        required />
        <div class="form-text text-danger text-start" *ngIf="loginForm.controls.firstName?.invalid && loginForm.controls.firstName?.touched">First name is required</div>

      <input id="lastName" type="text" placeholder="Last Name *" [(ngModel)]="registerData.lastname" name="lastName"
        required />
        <div class="form-text text-danger text-start" *ngIf="loginForm.controls.lastName?.invalid && loginForm.controls.lastName?.touched">Last name is required</div>

      <input id="nicNumber" type="text" placeholder="Nic Number *" [(ngModel)]="registerData.nicNumber" name="nicNumber"
        required />
        <div class="form-text text-danger text-start" *ngIf="loginForm.controls.nicNumber?.invalid && loginForm.controls.nicNumber?.touched">nicNumber is required</div>

      <input id="email" type="email" placeholder="Email *" [(ngModel)]="registerData.email" name="email" required email>
      <div class="form-text text-danger text-start" *ngIf="loginForm.controls.email?.invalid && loginForm.controls.email?.touched">
        <div *ngIf="loginForm.controls.email?.errors?.required"> Email address is required </div>
        <div *ngIf="loginForm.controls.email?.errors?.email">Email address is invalid</div>
      </div>


      <!-- <input type=" text" placehold er="PhoneNumber *" [(ngModel)]="registerData.phoneNumber" name="phoneNumber"
        required /> -->
      <!-- <input type="text" placeholder="Address *" [(ngModel)]="registerData.address" name="address" required/> -->
      <input type="text" placeholder="Username *" [(ngModel)]="registerData.username" name="username" required/>
      <input id="password" type="password" placeholder="Password *" [(ngModel)]="registerData.password" name="password"
        required minlength="8">
        <div class="form-text text-danger text-start" *ngIf="loginForm.controls.password?.invalid && loginForm.controls.password?.touched">password is required</div>

      <button [disabled]="loginForm.invalid" type="submit" class="btn">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Create
      </button>
      <p class="message">Already registered? <a (click)="toggleMode()">Sign In</a></p>
    </form>
    <ng-template #loginForm>
      <form #loginForm="ngForm" (ngSubmit)="onLogin()">
        <h2>Login</h2>
        <input id="username" type="text" placeholder="Username" [(ngModel)]="loginData.username" name="username"
          required />
        <input id="password" type="password" placeholder="Password" [(ngModel)]="loginData.password" name="password"
          required />
        <button [disabled]="loginForm.invalid" type="submit" class="btn">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Sign in
        </button>
        <p class="message">Not registered? <a (click)="toggleMode()">Create an account</a></p>
      </form>
    </ng-template>
  </div>
</div>